spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:~/test
    driverClassName: org.h2.Driver
    username: sa
    password: sa
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
    #spring.jpa.properties.hibernate.show_sql=true
    #Spring Boot(2.5x) Hibernate, data.sql ?? ? ??(h2 database) https://zzang9ha.tistory.com/371
    defer-datasource-initialization: true

logging:
  level:
    org:
      hibernate:
        SQL: debug